@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url(../fonts/JF-Flat-regular.woff) format('woff'), url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.429;
}

.custom-navbar {
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-navbar .navbar-brand {
    margin-left: 30px;
    margin-top: 4px;
}

.custom-navbar .container {
    padding: 0;
}

.custom-form-control, .custom-btn {
    border: 1px solid #EBEBEB;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    transition: all 0.3s ease;
    padding: 6px 16px 7px 16px;
    color: #868686;
}

.custom-navbar .custom-form-control:focus {
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #b86d07;
}

.categories .nav-link {
    border-right: 0;
    border-radius: 0;
}

.custom-dropdown-menu .checkbox {
    display: inline-block;
    margin: 0 5px;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #ebebeb;
    color: #777777;
}

.custom-dropdown-menu .checkbox label input {
    margin-left: 5px;
}

.custom-navbar .search-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px 7px 15px;
    border-radius: 0;
}

.custom-navbar .navbar-nav li a.nav-link {
    color: #555555;
    font-size: 14px;
    padding: 15px;
}

.custom-navbar .navbar-nav li a.nav-link:hover {
    color: #000;
}

.custom-navbar .navbar-nav li.active a.nav-link {
    color: #FF3956;
    border-bottom: 1px solid #FF3956;
    font-weight: 700;
}

.custom-navbar .navbar-nav li.active a.nav-link:hover {
    background-color: #e7e7e7;
}

.navbar-nav .dropdown-menu {
    left: auto;
}

.navbar-nav .dropdown-menu a:hover {
    background-color: #ffe7ea;
}

.custom-navbar a.btn-icon {
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #dddddd;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 18px;
}

.custom-navbar a.btn-icon:hover {
    color: #000;
    background-color: #bfbfbf
}

.custom-navbar .navbar-nav li:last-of-type {
    margin-top: 7px;
}

/* المنتجات المميزة */

#carousel-featured {
    background-color: #f7f8f3;
    height: 400px;
    width: 100%;
    padding-top: 25px;
}

#carousel-featured .carousel-item img {
    height: 375px;
}

#carousel-featured .product-details {
    border: 1px solid #dddddb;
    background-color: #f7f8f3;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
}

#carousel-featured .product-details .product-category {
    border: 1px solid #dddddb;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f7f8f3;
}

#carousel-featured .custom-btn-primary {
    color: #f8ad47;
    border: 1px solid #f8ad47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}

.sale {
    background-color: #53ccdf;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
}

.sale.large {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -15px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
}

#carousel-featured .product-details .sale.large span {
    font-size: 14px;
}

#carousel-featured .product-details h1 {
    font-size: 175%;
    color: #000;
    font-weight: bold;
    margin-top: 18px;
}

.custom-carousel-indicators-primary {
    top: 235px;
    right: 36%;
    margin-left: 0;
}

.custom-carousel-indicators-primary img {
    width: 75px;
    height: 75px;
    border: 2px solid #dddddb;
    background-color: #ffffff;
    margin-right: 10px;
}

.custom-carousel-indicators-primary img.active {
    border-color: #f8ad47;
}

#carousel-featured .carousel-control-prev, #carousel-featured .carousel-control-next {
    color: #868686;
    font-size: 20px;
}

/* مميزات المتجر */

#store-features {
    box-shadow: 0 0 15px #EEF0EA;
    position: relative;
    top: -30px;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-size: auto 60%;
    background-position: -10px -20px;
}

#store-features .feature>img {
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature {
    border-right: 1px solid #EEF0EA;
}

h3.custom-heading {
    font-size: 24px;
    margin-bottom: 25px;
}

/* الاكثر مبيعا */

.custom-thumbnail {
    padding: 8px;
    border: 2px solid #EEF0EA;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-thumbnail:hover {
    border-color: #53ccd7;
}

.custom-thumbnail h4 {
    font-size: 18px;
    padding-top: 10px;
}

.custom-thumbnail .card-body {
    padding: 9px;
}

.custom-thumbnail .price {
    padding-top: 10px;
}

.price {
    color: #53ccd7;
}

.rating {
    color: #c2c2c2;
}

.rating .active {
    color: #f3af41;
}

.custom-thumbnail .overlay {
    position: absolute;
    background-color: rgba(83, 204, 215, 0.5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.custom-thumbnail .add-to-cart-btn {
    background-color: #ffffff;
    color: #19becd;
    font-weight: bold;
}

.custom-thumbnail .add-to-cart-btn:hover, .custom-thumbnail .add-to-cart-btn:active, .custom-thumbnail .add-to-cart-btn:focus, .custom-thumbnail .add-to-cart-btn:active:focus, .custom-thumbnail .add-to-cart-btn:active:hover {
    color: #000;
}

.custom-thumbnail .sale {
    padding: 5px 10px;
    position: absolute;
    top: 15px;
    left: 15px;
    direction: ltr;
}

.custom-thumbnail .sale::before {
    content: "-";
}

.custom-carousel-indicators>li {
    width: 13px;
    height: 13px;
    margin: 2px;
    background-color: #dbdbdb;
}

.custom-carousel-indicators>li.active {
    background-color: #565656;
}

#carousel-most-sold .carousel-indicators {
    position: static;
}

.custom-thumbnail img {
    height: 250px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

/* الماركات العالمية */

.custom-panel {
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;
    box-shadow: none;
}

.custom-panel .product-image {
    margin-bottom: 8px;
    width: 100%;
}

.custom-panel h4, .custom-panel .price {
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 15px;
}

.custom-text-muted {
    color: #a9a9a9;
}

.custom-arrow-btn:focus {
    box-shadow: none;
}

.custom-arrow-btn {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #868686;
    box-shadow: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
}

.brand-products {
    margin-bottom: 20px;
}

.brand-text {
    display: inline-block;
    margin-right: 5px;
}

.brand-products .brand-nav {
    margin-top: 15px;
}

#row-brands h3.custom-heading {
    border-top: 1px solid #EEF0EA;
    padding-top: 25px;
}

/* تذييل الصفحة */

#brand-logos {
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555;
}

#brand-logos img {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

#footer-nav {
    background-color: #1f1e1e;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
    padding: 50px 0 40px;
    width: 100%;
}

#footer-nav-links {
    margin: 30px 0;
}

#footer-nav-links a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

#footer-nav #newsletter {
    border-top: 1px solid #292929;
}

#footer-nav form {
    max-width: 260px;
    margin: auto;
}

input[type=email], input[type=number] {
    direction: rtl;
    text-align: right;
}

#footer-nav form label {
    margin: 25px 0 15px;
    color: #555;
    font-size: 12px;
    font-weight: bold;
}

#footer-nav form input {
    background-color: #313131;
    opacity: .6;
    height: 38px;
    border: none;
}

#footer-nav form button {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px 12px 5px;
    font-size: 14px;
    color: inherit;
}

#footer-copyright-social {
    background-color: #151515;
    color: #303030;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-copyright-social a {
    color: #303030;
    margin-left: 5px;
    margin-right: 5px;
}

/************************
***************************************************
***************************************************
Product Page
***************************************************
***************************************************
************************/

.custom-breadcrumb {
    background-color: transparent;
    padding: 25px 0;
}

.custom-breadcrumb a {
    color: #555;
    text-decoration: none;
}

.custom-breadcrumb a:hover {
    color: #f8ad47;
}

.custom-breadcrumb>li+li::before {
    content: ">";
    color: #555;
    padding: 0 5px;
}

.custom-breadcrumb .active {
    color: #bfbfbf;
}

/* صورة المنتج */

#carousel-product-images .custom-carousel-indicators-primary {
    position: relative;
    top: -35px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#carousel-product-images .carousel-inner img {
    width: 100%;
    border: 1px solid #ebebeb;
}

.block-100 {
    display: block;
    width: 100%;
}

.product-category {
    color: #a9a9a9;
}

#form-product-selection {
    color: #000;
}

#form-product-selection h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 18px 0;
}

.price.large {
    font-size: 30px;
    margin-top: 18px;
}

.border-between>div:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
}

.border-between>div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-option {
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 1px solid #ebebeb;
    color: #c2c2c2;
    text-align: center;
    margin: 3px 3px 9px 3px;
}

.product-option input {
    display: none;
}

.product-option label {
    font-weight: bold;
    display: block;
}

.product-option.active {
    color: #f8ad47;
    border-color: #f8ad47;
}

.color-option.active {
    border-color: #ffffff;
    outline: 1px solid #000;
}

.product-quantity {
    padding-bottom: 20px;
}

.product-quantity select {
    width: 56px;
    height: 34px;
    padding: 3px 9px;
    margin-right: 3px;
}

.custom-btn-with-icon {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

/* وصف المنتج */

.heading-with-border-bottom {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}

.heading-inline {
    min-width: 250px;
    display: inline-block;
}

.more-description p, .more-description ul {
    margin-bottom: 10px;
}

/* التعليقات على المنتج */

.comments .media {
    margin: 15px;
}

.comments .media img {
    width: 80px;
    height: 80px;
    border: 1px solid #dfdfdf;
    margin-left: 10px;
}

.comments .media .media-heading {
    font-size: 18px;
    margin-bottom: 5px;
}

.suggestions .custom-thumbnail {
    margin-right: -8px;
    margin-left: -8px;
}

/************************
***************************************************
***************************************************
Checkout Page
***************************************************
***************************************************
************************/

#form-checkout {
    min-width: 100%;
}

h1.custom-heading {
    font-size: 36px;
    margin: 25px 0;
}

.custom-table .custom-media img {
    width: 80px;
    height: 80px;
    border: 1px solid #dfdfdf;
    margin-left: 10px;
}

.custom-table .custom-media h4 {
    font-size: 18px;
    margin: 12px 0;
}

.custom-table .quantity {
    width: 56px;
    height: 34px;
    padding: 0px 8px;
    margin: auto;
}

.custom-btn-danger {
    border-radius: 3px;
}

.custom-media {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.custom-table .total-price * {
    color: #000;
}

.custom-table .total-price .custom-text-muted .custom-text-muted {
    color: #a9a9a9;
}

/*******************************************************************************
********************************************************************************
********************************************************************************
Payment Page
********************************************************************************
********************************************************************************
*******************************************************************************/

.custom-input-details {
    height: 46px;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 3px;
    border-width: 2px;
}

.custom-input-details:focus {
    border-color: #b86d07 !important;
    box-shadow: 0 0 1px #b86d07 !important;
}

#credit-card-info {
    margin-right: 3%;
}

/*******************************************************************************
********************************************************************************
********************************************************************************
Search Page
********************************************************************************
********************************************************************************
*******************************************************************************/

#form-advanced-search {
    border: 1px solid #ebebeb;
    display: table;
    padding-bottom: 20px;
}

#form-advanced-search .custom-panel {
    border: none;
    padding: 5px;
}

.custom-panel .card-header {
    background-color: transparent;
    margin-bottom: 15px;
    padding: 10px;
}

.custom-list-group>.list-group-item {
    border: none;
    padding: 0 10px 15px 0;
}

.custom-list-group>.list-group-item :last-child {
    padding: 0 10px 0 0;
}

#form-advanced-search label {
    cursor: pointer;
}

.custom-pagination {
    margin: 25px 0;
}

.custom-pagination li a {
    width: 32px;
    height: 32px;
    border: 1px solid #ebebeb;
    line-height: 32px;
    margin-right: 5px;
    margin-left: 5px;
    display: block;
    text-align: center;
    color: #c2c2c2;
    transition: all 0.3s ease;
}

.custom-pagination li a.active {
    background-color: #f8ad47;
    border: #f8ad47;
    color: #fff;
}

.custom-pagination li a:hover, .custom-pagination li a:active, .custom-pagination li a:focus {
    color: #ab7731;
    border-color: #ab7731;
}

#search-result .custom-thumbnail {
    margin-right: -8px;
    margin-left: -8px;
}

/*******************************************************************************
********************************************************************************
********************************************************************************
Contact Page
********************************************************************************
********************************************************************************
*******************************************************************************/

#contact-options {
    margin-bottom: 25px;
}

#contact-options h4 {
    font-size: 18px;
    padding-bottom: 12px;
}

#contact-options .heading-with-border-bottom {
    margin-bottom: 20px;
}

#contact-info {
    margin-bottom: 25px;
}

#contact-info .fa-lg {
    color: #f3af41;
    font-size: 18px;
    margin: 10px;
    width: 25px;
    text-align: center;
    position: relative;
    top: 10px;
}

#contact-options textarea {
    height: 128px;
}

/*******************************************************************************
********************************************************************************
********************************************************************************
Media Query
********************************************************************************
********************************************************************************
*******************************************************************************/

@media(max-width: 1199px) {
    .custom-navbar .navbar-nav li a.nav-link {
        padding: 7px;
    }
    .custom-navbar .navbar-brand {
        margin-left: 10px;
    }
    .custom-navbar .navbar-nav li:last-of-type {
        margin-top: 0;
    }
}

@media(max-width:991px) and (min-width:768px) {
    .custom-thumbnail img {
        height: 200px;
    }
}

@media(max-width: 991px) {
    .navbar-header {
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }
    .custom-navbar {
        padding: 15px 20px 30px;
    }
    .custom-navbar .container {
        max-width: 100%;
    }
    .navbar-header .btn-icon {
        float: left;
    }
    .form-inline {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    .form-inline .dropdown {
        display: none;
    }
    .form-inline .custom-form-control {
        width: 90%;
    }
    .form-inline .search-btn {
        width: 10%;
    }
    .custom-navbar a.btn-icon, .navbar-header .btn-icon {
        padding: 5px 10px 4px;
        color: #777;
        border: 1px solid #ddd;
        background-color: transparent;
        border-radius: 2px;
        font-size: 18px;
    }
    .custom-navbar .navbar-nav li a.nav-link {
        padding: 10px 15px;
    }
    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }
    #carousel-featured .carousel-indicators {
        margin-right: 8%;
    }
    .custom-thumbnail .overlay {
        display: none;
    }
    .custom-thumbnail .add-to-cart-btn {
        background-color: #fff;
        color: #868686;
        font-weight: normal;
    }
    #copyright, #social-icons {
        width: 100%;
        text-align: center;
    }
    #social-icons {
        font-size: 130%;
        padding-top: 15px;
    }
    /* product page*/
    .product-option {
        width: 40px;
        height: 40px;
        margin: 10px;
        line-height: 40px;
        font-size: 20px;
    }
    
    /* contact page */
    #form-subscription {
        margin-bottom: 40px;
    }
}

@media(max-width:767px) {
    #carousel-featured, #carousel-featured .product-details {
        height: auto;
    }
    #carousel-featured .product-details {
        position: static;
        text-align: center;
    }
    #carousel-featured {
        padding-bottom: 25px;
    }
    #carousel-featured .carousel-item img {
        height: 250px;
    }
    #carousel-featured .carousel-indicators {
        margin-right: 1%;
    }
    #brand-logos img {
        max-width: 50px;
        max-height: 50px;
        margin: 5px 25px;
    }
    #footer-nav .footer-logo {
        margin-bottom: 30px;
    }
    #footer-nav form {
        max-width: 100%;
        width: 100%;
    }
    #newsletter form .input-group {
        width: 100%;
    }
    /* checkout page */
    .hide-on-small {
        display: none;
    }
}

@media(max-width:575px) {
    .form-inline .custom-form-control {
        width: 80%;
    }
    .form-inline .search-btn {
        width: 20%;
    }
    #carousel-featured .carousel-item {
        padding: 0 16px;
    }
    #brand-logos img {
        margin: 5px 15px;
    }
    /* product page */
    #form-product-selection, .comments {
        padding-right: 15px;
        padding-left: 15px;
    }
}